<h2>カテゴリ別レポート</h2>

<h3 class="ymd"><%= @month.strftime('%Y/%m') %></h3>

<%= link_to "支出", category_reports_path(month: @month, kind: true) %>
<%= link_to "収入", category_reports_path(month: @month, kind: false) %>

<div class="category_flows">
  <% @categories.each do |category| %>
    <p><%= category.name %>: <%= sum_money(category, @month, @kind) %>円</p>
  <% end %>
</div>

<%= link_to "前の月",category_reports_path(month: @month.prev_month) %>
<%= link_to "次の月",category_reports_path(month: @month.next_month) %>
