<!DOCTYPE html>
<html>
  <head>
    <title>Yenlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/shared/header' %>
    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert">
        <p><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <p><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
